*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --text-primary: #1B1F23;
  --text-tertiary: #999FA6;
  --text-secondary: #ffffff;
  --bg: #F5F5F5;
  --bg-dark: #333333;
  --border-light: #E1E3E6;
  --overlay: rgba(0, 0, 0, 0.5);
  --orange: #FF5500;
  --orange-disabled: #FFA375;
  --width-large: 1920px;
  --modals-index: 10;
  --box-shadow: 0 10px 22px rgba(27, 31, 36, 0.12);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: var(--font-roboto);
  color: var(--text-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body.block {
  overflow: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

main {
  flex-grow: 1;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: var(--width-large);
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

main.container {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.layout {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 32px;
}

.card {
  background-color: var(--text-secondary);
  padding: 24px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  main.container {
    padding: 16px 24px;
  }

  .layout {
    flex-direction: column;
  }

  .movies {
    padding-top: 85px;
    gap: 24px;
  }

  .title {
    font-size: 24px;
  }

  .card {
    padding: 12px;
  }
}

@media (max-width: 375px) {
  .movies {
    gap: 32px;
  }
}